@font-face {
   font-family: 'Afrah-Thin';
   font-display: swap;
   src: url('Afrah-Thin/font.ttf');
}
@font-face {
   font-family: 'Afrah-Regular';
   font-display: swap;
   src: url('Afrah-Regular/font.ttf');
}
