@font-face {
   font-family: 'Afrah-Thin';
   font-display: swap;
   src: url('file:///C:/Users/Gebruiker/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-11-20_112456/fonts/Afrah-Thin/font.ttf');
}
